@use "global" as *;

.p-review {
  display: flex;
  max-width: rem(540);
  @include mq('md') {
    max-width: rem(1040);
  }
}

.p-review__left-block {
  flex: 0 1 21.4925%;
  padding-top: rem(15);
  @include mq('md') {
    flex: 0 1 14.0385%;
  }
}

.p-review__imgWrap {
  position: relative;
}

.p-review__imgWrap::before {
  display: block;
  content:"";
  padding-top: 100%;
}

.p-review__imgWrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.p-review__name {
  font-size: rem(10);
  font-weight: $bold;
  line-height: calc( 20/10);
  letter-spacing: 0.5px;
  color: $main-blue;
  text-align: center;
  font-family: $ja-second-font-family;
  margin-top: rem(2);
  white-space: nowrap;
  @include mq('md') {
    font-size: rem(14);
    font-weight: $bold;
    line-height: calc( 28/14);
    letter-spacing: 0.7px;
    margin-top: rem(19);
  }
}

.p-review__name--position-left5 {
  margin-left: rem(-5);
  @include mq('md') {
    margin-left: 0;
  }
}

.p-review__name--position-left12 {
  margin-left: rem(-12);
  @include mq('md') {
    margin-left: 0;
  }
}

.p-review__name span {
  display: block;
}

.p-review__right-block {
  flex: 1;
  margin-left: 4.1791%;
  @include mq('md') {
    margin-left: 5.8654%;
  }
}

.p-review__textWrap {
  position: relative;
  background-color: $white2;
  padding: rem(14) rem(13) rem(25) rem(21);
  border-radius: rem(8);
  @include mq('md') {
    padding: rem(41) rem(45) rem(59) rem(53);
  }
}

.p-review__textWrap::before {
  position: absolute;
  content:"";
  right: 100%;
  top: rem(71);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10.15px 13.48px;
  border-color: transparent transparent $white2 transparent;
  @include mq('md') {
    border-width: 0 0 21.07px 45.45px;
  }
}

.p-review__text {
  font-size: rem(12);
  font-weight: $bold;
  line-height: calc( 18/12);
  color: $main-blue;
  font-family: $ja-second-font-family;
  @include mq('md') {
    font-size: rem(14);
    line-height: calc( 21/14);
  }
}

.p-review__text + .p-review__text {
  margin-top: rem(18);
  @include mq('md') {
    margin-top: rem(21);
  }
}