@use "global" as *;

.p-summary-fourth {
  padding-top: rem(5);
  padding-left: rem(18);
  @include mq('md') {
    display: block;
    max-width: rem(845);
    margin: 0;
    padding-top: rem(2);
    padding-left: 0;
  }
}

.p-summary-fourth__number {
  display: block;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0.1em;
  color: $gray;
  padding-bottom: rem(12);
  @include mq('md') {
    font-size: rem(16);
    line-height: 1.5;
    padding-bottom: 0;
  }
}

.p-summary-fourth__title {
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc( 40/20);
  letter-spacing: 0.1em;
  margin-top: rem(1);
  color: $white2;
  @include mq('md') {
    font-size: rem(25);
    line-height: calc( 50/25);
    width: 100%;
  }
}

.p-summary-fourth__text {
  font-size: rem(12);
  font-weight: $medium;
  line-height: 2.3;
  color: $white2;
  margin-top: rem(8);
  @include mq('md') {
    font-size: rem(14);
    line-height: calc( 28/14);
    width: 47%;
    margin-top: rem(10);
  }
}

.p-summary-fourth__text span {
  display: block;
  @include mq('md') {
    display: inline;
  }
}